@use 'src/assets/css/rwd.scss' as rwd;
//- 頁面定義
.page {
  position: relative;
  //- 超過1920置中顯示
  .section {
    position: relative;
    max-width: 1920px;
    margin: auto;
  }
}
//- 背景透明
.bg-transparent {
  background-color: transparent !important;
}

.border {
  border: 1px solid black;
}

.content-padding {
  padding: 0px 120px;
  @include rwd.medium {
    padding: 0px calc(30px + 100vw * (90 / 1920));
  }
  @include rwd.small {
    padding: 0px 30px;
  }
}

.last-section {
  margin-bottom: 200px !important;
  @include rwd.medium {
    margin-bottom: calc(100px + 100vw * (100 / 1920)) !important;
  }
  @include rwd.small {
    margin-bottom: 100px !important;
  }
}
